<div class="list-block media-list">
<ul>  
    {{#items}}
    <li> 
        <div class="item-content">
            <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{topLeft}}</div>
                  <div class="item-after">{{topRight}}</div>
                </div>
                <div class="item-title-row">
                  <div class="item-title">{{bottomLeft}}</div>
                  <div class="item-after">{{bottomRight}}</div>
                </div> 
            </div>
        </div>  
    </li>
    {{/items}}
</ul>
</div>